//Install Tailwind CSS and configure it to work with your project. Do this by running the following commands:
//npm install tailwindcss
//npx tailwindcss init
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  @apply w-20 p-2 pl-10 text-sm text-gray-700;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-none li {
  @apply flex items-center mb-4;
}

.list-none li img {
  @apply w-20 h-20 mr-4 rounded;
}

.list-none li h2 {
  @apply text-lg font-bold;
}

.list-none li p {
  @apply text-sm text-gray-600;
}
